@page "/contacts"

<PageTitle>Контакты</PageTitle>

<div class="info-container">
    <h2 class="page-title">Контакты</h2>
    <div class="black-splitter">
    </div>
    <div class="col-6">
        <p>
            Уважаемые гости нашего ресторана! Для того, чтобы быть в курсе всех новостей и событий, происходящих в нашем ресторане, 
            следите за обновлениями на наших новостных каналах.
        </p>
    </div>
    <div class="social-buttons-container">
        <div class="btn-social-vk">
            <a href="https://vk.com/hikikomorirei" target="_blank"><span class="fa fa-vk"></span><b>Вконтакте</b></a>
        </div>
        <div class="btn-social-instagram">
            <a href="https://instagram.com" target="_blank"><span class="fa fa-instagram"></span><b>Instagram</b></a>
        </div>
        <div class="btn-social-telegram">
            <a href="https://t.me/myselfexpression" target="_blank"><span class="fa fa-telegram"></span><b>Telegram</b></a>
        </div>
    </div>      

</div>


@code {

}
