@page "/"

<PageTitle>О нас</PageTitle>

<div class="info-container">
    <h2 class="page-title">О ресторане</h2>
    <div class="black-splitter">
    </div>
    <div class="col-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus ut purus vel consequat.
            Mauris ut egestas nibh. Proin varius ut odio non luctus. Pellentesque egestas erat id nulla vehicula tempor.
            In sit amet erat auctor, consequat est at, rhoncus dolor. Donec id dolor et nulla pharetra fringilla.
        </p>
    </div>

    
    <img src="/images/carousel_2.jpg" alt="Restoraunt" style="width: 50%; margin: 20px"/>
    
    
    <h2 class="page-title">Где нас найти</h2>
    <div class="black-splitter">
    </div>
    <div style="width: 600px; height: 400px">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1d34b0c74a1494b55a6c1bb64632198af65bcb71ca979a34f9e14dac3b7519eb&amp;source=constructor" width="683" height="428" frameborder="0"></iframe>
    </div>

    
</div>
