@page "/order/formed"
@inject HttpClient _httpClient

<PageTitle>Заказ сформирован</PageTitle>

<div class="info-container">
    <h2 class="page-title">Заказ оформлен</h2>
    <div class="black-splitter"></div>
    <div class="col-6">
        <p>
            Дорогой гость ! Ваш заказ был удачно сформирован. Вы можете отследить его статус <a href="profile/orders"> здесь.</a>
        </p>
    </div>
</div>
    

@code {
    
}
